@use '../helpers/' as *;

.choose-order {
  min-height: 100vh;
  padding-block: rem(50);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);

  &__inner {
    position: relative;
    margin-inline: auto;
    padding: rem(30) rem(50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 90%;
    max-width: rem(600);
    border-radius: 15px;
    background-color: var(--color-light);
  
    @media(width <= rem(650)){
      max-width: 85%;
      padding-inline: rem(30);
    }

    @include mobile {
      min-width: calc(100% - rem(20));
      border-radius: 10px;
    }
  }

  &__title {
    margin-bottom: rem(20);
    text-align: center;
    color: var(--color-purple);
    font-size: rem(32);
    font-weight: 700;

    @include mobile {
      margin-bottom: rem(16);
      font-size: rem(20);
    }
  }

  &__close {
    position: absolute;
    right: rem(35);
    top: rem(45);
    background: url(../images/order/close.svg) center/cover no-repeat;
    width: rem(30);
    height: rem(30);
    cursor: pointer;
    background-color: transparent;
    border: none;

    @media (width <= rem(767)) {
      @include visually-hidden;
    }

    &-mobile{
      position: absolute;
      width: rem(17);
      height: rem(17);
      top: rem(20);
      right: rem(20);
      border: none;
      background: url(../images/order/close-mobile.svg) center/cover no-repeat;
      cursor: pointer;

      @media(width >= rem(767)){
        @include visually-hidden;
      }


    }
  }

  &__agree {
    max-width: rem(550);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;

    &-image{
      max-width: 100%;
      margin-bottom: rem(30);
    }
    &-title{
      font-family: var(--font-family-alternate);
      margin-bottom: rem(12);
      font-size: fluid(32, 20);
      font-weight: 700;
      color: var(--color-purple);

    }
    &-text{
      font-size: fluid(16, 14);
      font-weight: 600;
    }
  }
}

.order {
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);


    @include mobile {
      row-gap: rem(10);
    }

    input {
      padding: rem(12) rem(20);
      height: rem(45);
      border-radius: rem(5);
      border: var(--border);

      &::placeholder {
        color: var(--color-gray-light);

        @include mobile {
          font-size: rem(14);
        }
      }

      &:focus {
        border-color: var(--color-orange);
      }

      &:active {
        border-color: var(--color-orange);
      }

      &:user-invalid{
        border-color: red;
      }
    }

    &-title {
      font-family: var(--font-family-alternate);
      padding-top: rem(15);
      border-top: var(--border);
      text-align: center;
      font-size: rem(16);
      font-weight: 700;

      @include mobile {
        border-top: none;
        font-size: rem(14);
      }
    }

    &-button {
      height: rem(44);
      min-width: 100%;
    }
  }
}

.order-card {
  padding-block: rem(13);
  padding-inline: rem(20);
  margin-bottom: rem(25);
  display: flex;
  align-items: center;
  column-gap: rem(14);
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);

  @include mobile {
    margin-bottom: rem(20);
  }

  &__image {


    img {
      max-width: 100%;
      width: rem(104);
      height: rem(70);
      border-radius: rem(5);

      @include mobile {
        width: rem(75);
        height: rem(50);
      }
    }
  }

  &__info {
    justify-self: start;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: rem(16);
    font-weight: 700;

    @include mobile {
      font-size: rem(14);
    }
  }

  &__desc {
    font-size: rem(12);

    @include mobile {
      font-size: rem(10);
    }
  }

  &__price {
    margin-left: auto;
    font-family: var(--font-family-alternate);
    font-weight: 700;
    color: var(--color-purple);
    font-size: rem(16);

    @include mobile {
      font-size: rem(14);
    }
  }
}


.order-agree{
  min-height: 100vh;
  padding-block: rem(100);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);

  &__inner {
    position: relative;
    margin-inline: auto;
    padding: rem(50) rem(60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: rem(500);
    border-radius: 15px;
    background-color: var(--color-light);


    @media(width <= rem(650)){
      max-width: 85%;
      padding-inline: rem(30);
    }

    @include mobile {
      min-width: calc(100% - rem(20));
      border-radius: 10px;
    }
  }

  &__title {
    margin-bottom: rem(20);
    text-align: center;
    color: var(--color-purple);
    font-size: rem(32);
    font-weight: 700;

    @include mobile {
      margin-bottom: rem(16);
      font-size: rem(20);
    }
  }

  &__close {
    position: absolute;
    right: rem(35);
    top: rem(45);
    background: url(../images/order/close.svg) center/cover no-repeat;
    width: rem(30);
    height: rem(30);
    cursor: pointer;
    background-color: transparent;
    border: none;

    @media (width <= rem(767)) {
      @include visually-hidden;
    }

    &-mobile{
      position: absolute;
      width: rem(17);
      height: rem(17);
      top: rem(20);
      right: rem(20);
      border: none;
      background: url(../images/order/close-mobile.svg) center/cover no-repeat;
      cursor: pointer;

      @media(width >= rem(767)){
        @include visually-hidden;
      }
    }
  }

  &__agree{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__agree-image{
    max-width: 100%;
    margin-bottom: rem(30);
  }
  &__agree-title{
    font-family: var(--font-family-alternate);
    margin-bottom: rem(12);
    font-size: fluid(32, 20);
    font-weight: 700;
    color: var(--color-purple);

  }
  &__agree-text{
    font-size: fluid(16, 14);
    font-weight: 600;
  }
}

/* Для изменения цвета обводки элемента формы при валидации */
.form__type-input-error {
  border: rem(1) solid red;
  background-color: rgb(255 134 48 / 0.1);
}

/* Для отображения span-элемента с ошибкой */
.form__error-active {
  display: block;
}

/* Для блокировки кнопки submit */
.button-inactive {
  cursor: default;
  background-color: rgb(211 211 211 / 0.6);
}

.button-inactive {
  cursor: not-allowed;
  background-color: rgb(211 211 211 / 0.6);
}

.button-inactive:hover {
  background-color: rgb(211 211 211 / 0.2);
  border: rem(2) solid transparent;
}

.form__empty-error,
.form-error {
  padding: 0;
  font-size: rem(14);
  color: red;
}





